nav {
	text-align: right;
	text-color: black;
}

body {
	text-align: center;
    font-family: "Open Sans";
}

a {
    text-decoration: none;
    cursor: pointer;
}

.advsbutton {
	background-color: #4285f4;
	color: white;
	padding: 6px 20px;
	border: 1px solid transparent;
	font-size: 15px;
}

.links1 {
    text-align:left;
}

.links2 {
    text-align:right;
}

.sbutton {
	
	border: 1px solid transparent;
	padding: 5px 14px;
	font-size: 15px;
    cursor: pointer;
}

.searchbox {
	position: center;
	text-align: center;
}

.input {
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

.advancedsearch {
    text-align: left;
}

footer {
	text-align: left;
    background-color: #f2f2f2;
    color: rgba(0,0,0, 0.54);
    position: absolute;
    right: 0;bottom:0;left:0;
    
}

h1,h2 {
    text-align: left;
    color: grey;
}


.advinput {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px;
    padding: 20px;
    font-size: 20px;
}


