nav {
	text-align: right;
	text-color: black;
   
}

body {
	text-align: center;
    font-family: "Sans Serif";
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: "Sans Serif";
}

.advsbutton {
	background-color: #4285f4;
	color: white;
	padding: 6px 20px;
	border: 1px solid transparent;
	font-size: 15px;
}

.links1 {
    text-align:left;
}

.links2 {
    text-align:right;
}

.sbutton {
	border: 1px solid transparent;
	padding: 5px 14px;
	font-size: 15px;
    cursor: pointer;
    background-color: #f5f5f5;
}

.searchbox {
	position: relative;
	text-align: center;
    padding: 10px;
    
}

.input {
    border-radius: 25px;
    padding-left: 40px;
    font-size: 20px;
    width: 600px;
    height: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.advinput {
    width:600px;
    height: 20px;
}

.advancedsearch {
    text-align: left;
}

footer {
	text-align: left;
    background-color: #f2f2f2;
    color: rgba(0,0,0, 0.54);
    position: absolute;
    right: 0;bottom:0;left:0;
    
}

h1 {
    color: red;
    font-weight:normal;
    text-align: left;
    font-size:22px;
    font-family: "Arial";
}

th {
    font-weight:normal;
    font-size: 18px;
}
.advinput {
    width: 500px;
    height: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 15px;
    font-size: 15px;
}

.advsearchtable {
    font-size: 13px;
    font-family: "Arial";
    width: 100%;
}

.advsbutton {
    position: relative;
    right: -490px;
}

i {
    position: absolute;
    top: 22px;
    padding: 4px 11px;
}

.advnav {
    background-color: #f2f2f2;
    width: 100%;
}
